.cmain{
  width: 400px;
  height: 670px;
  background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 40px;
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
}
.pmain{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.ico{
   font-size: 25px;
}
.btn{
    border: none;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    position: relative;
    top: 5px;
}
input{
    font-size: 20px;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    margin-left: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.517);
    background-color: transparent;
    color: white;
    
}
input:focus{
    outline: none;
}
.cityname{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-top: 40px;
    color: aliceblue;
}
.temp{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}
.feel{
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 40px;
    color: antiquewhite;
}
.uls{
    display: flex;
    justify-content: center;

}
ul{
    position: relative;
    bottom: 60px;
    margin-right: 45px;
}
li{
    list-style: none;
    font-size: 22px;
    margin-top: 15px;
    color: antiquewhite;
    border-bottom: 2px solid black;
    width: 320px;
    text-align: center;
    padding-bottom: 10px;
}